{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 4 chrome version",
            "last 4 safari version",
            "last 4 iOS version",
          ]
        },
        "modules": false,
        "loose": true
      }
    ],
    "stage-0",
    "react"
  ],
  "env": {
    "development": {
      "presets": [
        "react-hmre"
      ]
    }
  }
}
