.logo {
  fill: var(--background);
  height: 100%;
  width: 100%;
}

.background {
  fill: var(--accent);
}

.eye,
.background {
  animation: blink linear 5s;
  animation-iteration-count: infinite;
  transform-origin: center;
}

@keyframes blink{
  88% {
    transform: scaleY(1);
  }
  90% {
    transform: scaleY(0.2);
  }
  91% {
    transform: scaleY(1);
  }
  92% {
    transform: scaleY(0.2);
  }
  94% {
    transform: scaleY(1);
  }
}
