.header {
    height: 4rem;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--accent);
}

.logo {
    padding: 0 0.5rem;
    max-width: 3rem;
}
