.header {
    height: 4rem;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: var(--accent);
}

.logo {
    padding: 1px 10px;
    max-width: 59px;
    margin-right: 15px;
}
