.nav {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 3rem;
  background: var(--accent);
}

.tab {
  color: var(--background);
  padding: 1.5rem;
  transition: transform 150ms ease-out;
}

.active {
  transform: scale(0.8);
}
