.marker {
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: calc(-2rem / 2);
  top: calc(-2rem / 2);
  border: 0.5rem solid var(--main2);
  border-radius: 50%;
  background: var(--background);
  text-align: center;
  color: var(--main2);
  display: flex;
  justify-content: center;
  align-items: center;
}
